.temperature-indicator {

	.heading{}

	.temperature-details {
		margin-top: 10px;


		.current {
			.temperature, .temperature-icon{
				font-size: 400%;
			}
		}

		.high, .low {
			.temperature, .temperature-icon {
				font-size: 200%;
			}
		}
	}

}