.selected-day {
	width: 85%;
	margin: 0 auto;
	margin-top: 25px;
	padding: 15px 10px;

	background-color: rgba( 22,22,22, 0.75);
	border-radius: 10px;

	* {
		width: 300px;
		margin: 0 auto;
		text-align: center;
		margin-top: 10px;
	}

}