.thermometer {
	
	.wi-thermometer {
		position: relative;
		top: 30%;
		left: 15%;
		font-size: 65px;

		.wi-fahrenheit, .wi-celsius {
			position: relative;
			margin: 0;
			top: -25px;
		}

		.high, .low { 
			position: relative;
			display: block;
			font-size: 40%;
			text-align: right;
			top: -3.25em;
			left: -2.75em;
		}
	}
}



