.featured-day-weather-info {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;

	.featured-group > * {
		margin: 10px 0;
		width: 95%;
		text-align: center;
		display: inline-block;
	}
}

.featured-day-weather-info > * {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0;
	width: 300px;
}
