.app-component {

	* { box-sizing: border-box; }

	color: white;
	width: 100%;
	height: 100%;
	font-size: 25px;
	text-align: center;
}

.hero-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.app-border { padding: 10px 5%; }

.theme-background {
	background-color: rgba( 22,22,22, 0.75);
	border-radius: 10px;
}

$conditions: (
	'clear-day',
	'clear-night',
	'rain',
	'snow',
	'sleet',
	'wind',
	'fog',
	'cloudy',
	'partly-cloudy-day',
	'partly-cloudy-night'
);


@each $condition in $conditions {
	.#{$condition} {
		background-image: url( #{ "./background-images/" + $condition + ".jpg"} );
	}
}