.app-component {

	* { box-sizing: border-box; }

	padding: 10px;
	color: white;
}

.hero-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

$conditions: (
	'clear-day',
	'clear-night',
	'rain',
	'snow',
	'sleet',
	'wind',
	'fog',
	'cloudy',
	'partly-cloudy-day',
	'partly-cloudy-night'
);


@each $condition in $conditions {
	.#{$condition} {
		background-image: url( #{ "./background-images/" + $condition + ".jpg"} );
	}
}