.forecast {
	width: 95%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	overflow-x: auto;
}

.forecast > * {
	display: inline-block;
}

.forecast:after {
	display: table;
	clear: both;
	content: " ";
}