.forecast {
	width: 95%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	white-space: nowrap;
	overflow-x: auto;
}

.forecast > * {
	display: inline-block;
}

.forecast-heading-container {
	margin-top: 20px;
	margin-bottom: -30px;
	padding: 10px;	

	.forecast-heading { text-decoration: 'underline white'; }

	.forecast-summary{ font-size: 80%; }
}