.weather-info {

	.weather-data { margin-top: 2em; }

	.hideCurrentTemp { display: none; }

	.conditions-container{
		
		margin-top: 2em;
		margin-bottom: 1em;

		i {
			display: block;
			font-size: 6em;
		}
	}
}


